body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(../home/homepage.jpg);
  background-size: cover;
  /* align-items: flex-end; */
  /* justify-content: center; */
  }

img {
    display: block;
    margin: 25px auto;
}

  .img_small{
    width: 10%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.9;
    background-image: url(../gedichte/anzengruber.jpg);
    background-image: url(../gedichte/busch.jpg);
    background-image: url(../gedichte/kempner.jpg);

  }

  .body-content{
    margin-top: 225;
    color: antiquewhite;
    text-align: center;
  }

  .line{
    width: 150px;
    height: 4px;
    background: #333;
    margin: 10px auto;
    border-radius: 5px;
  }
  
  h1 {
    color: antiquewhite;
    text-align: center;
    font-size: 46px;
    font-family: verdana;
  }

  h2 {
    color: antiquewhite;
    text-align: center;
    font-size: 18px;
    font-family: verdana;
    margin-left: auto;
    margin-right: auto;

  }

  .gedichte {
text-align: center;

  }

  p {
    font-family: verdana;
    font-size: 20px;
    color: antiquewhite;
    width: 40%;
    margin: 25px auto;
    text-align: center;
  }

  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(199, 53, 53);
  }


  /* Drowdown menu*/

   /* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: verdana;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: antiquewhite;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: antiquewhite;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(81, 94, 119);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: antiquewhite;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(118, 123, 131);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.about {
  color: antiquewhite;
    width: 50%;
    border: 15px outset rgb(74, 87, 112);
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: 100px;
    text-align: center;
}

.wohnort {
  color: antiquewhite;
    width: 50%;
    margin: 0 auto;
    text-align: center;

table {
  width 100%;
}

iframe {
  display: block;
  margin: 50px auto;
  border: solid #cccccc 1px;
}

/* .wohnort{ */
  /* color: antiquewhite; */
  /* width: 50%; */
  /* border: 15px outset rgb(74, 87, 112); */
  /* padding: 50px; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* margin-top: 50px; */
  /* margin-bottom: auto; */
  /* text-align: center; */
/* } */

video {
  display: flex;
  width: 32%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: 20%;
}
